<div>
    <jh-alert></jh-alert>

    <div class="">

        <div class="row">  
            <div class="col-sm-7">   <h2 translate="adminPanelApp.workGroup.home.title">Departments</h2>  </div>
             
            <div class="col-sm-5 text-right">  
                <form name="searchForm" class="form-inline">  
                    <div class="form-group p-r">   <input type="text" id="searchQuery"   class="form-control"
                                                          ng-model="searchQuery"  
                                                          placeholder="{{'search' | translate}}">  
                    </div>
                     
                    <button class="btn btn-info btn-sm" ng-click="search()">  
                        <i class="glyphicon glyphicon-search"></i>  
                    </button>
                     
                    <button class="btn btn-primary btn-sm" ui-sref="workGroup.new">   <span
                        class="glyphicon glyphicon-plus"></span>  
                    </button>
                     
                </form>
                 
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span translate="adminPanelApp.workGroup.name">Name</span></th>
                <th><span translate="adminPanelApp.workGroup.description">Description</span></th>
                <th width="130px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="workGroup in workGroups track by workGroup.id">
                <td>{{workGroup.name}}</td>
                <td>{{workGroup.description}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="workGroup.detail({id:workGroup.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="workGroup.edit({id:workGroup.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="workGroup.delete({id:workGroup.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
