<div>
    <jh-alert></jh-alert>
    <div class="">

        <div class="row">  
            <div class="col-sm-7">   <h2 translate="adminPanelApp.userProfile.home.title">Departments</h2>  </div>
             
            <div class="col-sm-5 text-right">  
                <form name="searchForm" class="form-inline">  
                    <div class="form-group p-r">   <input type="text" id="searchQuery"   class="form-control"
                                                          ng-model="searchQuery"  
                                                          placeholder="{{'search' | translate}}">  
                    </div>
                     
                    <button class="btn btn-info btn-sm" ng-click="search()">  
                        <i class="glyphicon glyphicon-search"></i>  
                    </button>
                     
                    <button class="btn btn-primary btn-sm" ui-sref="userProfile.new">   <span
                        class="glyphicon glyphicon-plus"></span>  
                    </button>
                     
                </form>
                 
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                <th>FullName</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th>Roles</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th>User</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th>Work Groups</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th width="130px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="userProfile in userProfiles">
                <td>{{userProfile.fullName}}</td>
                <td>
                   <span ng-repeat="role in userProfile.roles">
                       <a class="form-control-static" ui-sref="role.detail({id: {{role.id}}})">{{role.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
                <td>
                    {{userProfile.user.login}}
                </td>
                <td>
                   <span ng-repeat="workGroup in userProfile.workGroups">
                        <a class="form-control-static" ui-sref="workGroup.detail({id: {{workGroup.id}}})">{{workGroup.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>


                <td class="text-right">
                    <button type="submit"
                            ui-sref="userProfile.detail({id:userProfile.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="userProfile.edit({id:userProfile.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="userProfile.delete({id:userProfile.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
